<DIV class="HEADER" style="border-bottom: 2px solid rgba(0, 0, 0, 0.349);display: flex; align-items: center; padding-top: 10px;;padding-bottom:10px;justify-content: space-between;padding-inline: 50px;" >
    <div>
        <h2>HELLO</h2>
    </div>


    <div class="tools" style="display:flex;align-items:flex-end" *ngIf="auth.currentUser$ | async as user;">
        <div class="image" style="height: 30px;width:30px;border-radius:100vmax;background-color: rgba(0, 0, 0, 0.233);"></div>
        <span style="font-size:large;margin-left: 3px;">{{user.displayName}}</span>
        
    </div>

    

</DIV>